@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
    background-color:#212428;
    padding:0;
    margin:0;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Galada', cursive;
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tektur', cursive;
}
.active {
    color:red
}
